<section class="h-full bg-section flex flex-col items-center justify-center">

  <div
    class="bg-header rounded-lg shadow-lg justify-center w-full m-2 sm:w-4/5 md:max-w-xl p-8"
  >
    <div class="flex flex-start items-center">
      <h1 class="font-bold text-xl ml-4 text-white">Subject:</h1>
      <h1
        class="text-lg ml-4 my-4 text-white uppercase font-bold"
      >{{findedMessage.subject}}</h1>
    </div>
    <div>
      <h1 class="font-bold text-xl ml-4 text-white">Message:</h1>
      <div class="bg-white h-32 w-128 rounded">
        <p class="flex justify-start m-4">{{findedMessage.message}}</p>
      <h1 class="font-bold text-xl ml-4">Message:</h1>
      <div class="bg-white h-32 w-128">
        <p class="flex justify-start mx-4 my-4">{{findedMessage.message}}</p>
      </div>
    </div>
  </div>
  <div class="flex space-x-12 mt-8 justify-center">
    <a
      class="text-xs bg-blue-500 text-white p-2 rounded hover:text-white hover:bg-blue-800 self-center"
      href="/messages"
    >Go Back</a>

    <a
      href="/{{findedMessage._id}}/reply"
      onclick="return false"
      id="message{{@index}}"
      class="open-button font-bold bg-yellow-400 px-2 py-1 rounded text-white hover:text-white hover:bg-yellow-600"
    >Answer</a>
  </div>
  <dialog class="modal p-4" id="message{{@index}}">
    <form
      action="/{{findedMessage._id}}/reply"
      method="POST"
      class="flex flex-col"
    >
      <h2 class="text-2xl mb-4" style="color: #08415c;">Message</h2>

      <label for="recipient" class="flex flex-col">
        <span class="text-sm mb-1" style="color: #08415c;">Recipient:</span>
        <input
          type="text"
          value="{{findedMessage.sender.username}}"
          name="recipient"
          required
          id="recipient"
          class="border rounded py-2 px-3"
        />
      </label>

      <label for="subject" class="flex flex-col">
        <span class="text-sm mb-1" style="color: #08415c;">Subject:</span>
        <input
          type="text"
          name="subject"
          value="{{findedMessage.subject}}"
          required
          id="subject"
          class="border rounded py-2 px-3"
        />
      </label>

      <label for="message" class="flex flex-col mb-2 rounded">
        <span
          class="text-sm mb-2 rounded"
          style="color: #08415c;"
        >Message:</span>
        <textarea
          class="rounded"
          name="message"
          id="message"
          rows="5"
        ></textarea>
      </label>

      <button
        type="submit"
        class="mb-2 font-bold bg-yellow-400 px-2 py-1 rounded text-white hover:text-white hover:bg-yellow-600"
      >Send Message</button>

      <button
        type="button"
        class="close-button bg-gray-300 text-gray-700 py-2 px-4 rounded"
      >Close</button>
    </form>
  </dialog>
</div>