<section class="bg-header h-full">

  <div class="flex justify-center items-center bg-section p-3">

    {{#if messages}}
      <table>

        <th>
          <tr>
            <th class="text-xl font-bold text-color">
              User
            </th>
            <th class="text-xl font-bold text-color">
              Subject
            </th>
            <th class="text-xl font-bold text-color">
              Message
            </th>
          </tr>
        </th>
        <tbody>
          {{#each messages}}
            <tr class="border-b-2">
              <td class="">
                {{this.sender.username}}
              </td>
              <td class="">
                <a href="/{{this._id}}" class="mx-16">{{this.subject}}</a>

              </td>
              <td class="">
                <p>
                  {{this.message}}
                </p>
              </td>
              <td>
                <form action="/{{this._id}}/delete" method="post">
                  <button
                    class="font-bold text-red-400 hover:text-red-800 pl-4"
                    type="s
            "
                  >x</button>
                </form>
              </td>
            </tr>

          {{/each}}
        </tbody>
      </table>
    {{else}}
      <p>No Messages</p>
    {{/if}}
  </div>

  <div class="flex space-x-12 mt-8 justify-center">
    <a
      class="text-xs bg-blue-500 text-white p-2 rounded hover:text-white hover:bg-blue-800 self-center"
      href="/userProfile"
    >Go Back</a>
    <a
      href="/sendMessage"
      class="font-bold bg-yellow-400 px-2 py-1 rounded text-white hover:text-white hover:bg-yellow-600"
    >Write a message</a>

  </div>
</section>