<h1>You Inbox</h1>

{{#if messages}}
  <table>

    <th>
      <tr>
        <th>
          User
        </th>
        <th>
          Subject
        </th>
        <th>
          Message
        </th>
      </tr>
    </th>
    <tbody>
      {{#each messages}}
        <tr>
          <td>
            {{this.sender.username}}
          </td>
          <td>
            <a href="/{{this._id}}">{{this.subject}}</a>
            {{this.subject}}
          </td>
          <td>
            <p>
              {{this.message}}
            </p>
          </td>
          <td>
            <form action="/{{this._id}}/delete" method="post">
              <button
                type="s
            "
              >Delete</button>
            </form>
          </td>
        </tr>

      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No Messages</p>
{{/if}}

<a href="/sendMessage">Write a message</a>

<a href="/userProfile">Go Back</a>