<section class="h-full bg-section">

  <div class="card-advert m-20">
    {{#each adverts}}
      <div
        class="card-advert-info open-button relative border-2"
        id="{{@index}}"
      >
        <a href="/adverts/{{_id}}" onclick="return false;">
          <div class="bg-contain">
            <img
              src="{{imageUrl}}"
              alt="{{title}}"
              class="transition duration-300 ease-in-out hover:opacity-75 open-button object-cover"
              id="{{@index}}"
            />
          </div>
          <h5 class="absolute top-0 left-0 p-2 text-white">{{title}}</h5>
        </a>
      </div>

      <dialog class="modal" id="{{@index}}">
        <div class="modal-background">
          <button
            type="button"
            class="close-button bg-gray-300 text-gray-700 py-2 px-4 rounded hover:bg-gray-600 hover:text-white absolute top-0 right-0 m-4"
          >X</button>
          <img
            src="{{imageUrl}}"
            alt="Advert Image"
            class="object-cover w-full h-full"
          />
        </div>
        <div class="modal-content bg-gray-200 p-4">
          <h2 class="text-2xl mb-4">{{title}}</h2>
          <div class="relative">
            <p>{{description}}</p>
            <div class="mt-4">
              <p><strong>Amount:</strong> {{amount}}</p>
              <p><strong>Cost:</strong> {{cost}}</p>
            </div>
            <div class="mt-4 mb-4">
              <div class="flex">
                <form action="/cart" method="post">
                  <input type="hidden" name="productId" value="{{_id}}" />
                  <input type="hidden" name="title" value="{{title}}" />
                  <input type="hidden" name="amount" value="{{amount}}" />
                  <input type="hidden" name="cost" value="{{cost}}" />
                  <button
                    type="submit"
                    class="mr-5 bg-gray-300 text-gray-700 py-2 px-4 rounded hover:bg-gray-600 hover:text-white"
                  ><img
                      src="/images/buy.png"
                      class="h-7"
                      alt="Cart image"
                    /></button>
                </form>
                <a
                  href="/contact/{{_id}}"
                  onclick="return false"
                  id="message{{@index}}"
                  class="open-button mr-5 bg-gray-300 text-gray-700 py-2 px-4 rounded hover:bg-gray-600 hover:text-white"
                ><img
                    src="/images/message.png"
                    id="message{{@index}}"
                    class="open-button h-7"
                    alt="Message image"
                  /></a>
                <a
                  href="/adverts/{{_id}}"
                  class="mr-5 bg-gray-300 text-gray-700 py-2 px-4 rounded hover:bg-gray-600 hover:text-white"
                ><img
                    src="/images/update-arrows.png"
                    class="h-7"
                    alt="Update image"
                  /></a>
                <form action="/adverts/{{_id}}/delete" method="post"><button
                    type="submit"
                    class="mr-5 bg-gray-300 text-gray-700 py-2 px-4 rounded hover:bg-gray-600 hover:text-white"
                  ><img
                      src="/images/delete.png"
                      class="h-7"
                      alt="Deletion image"
                    /></button></form>
              </div>
            </div>
            <small class="text-gray-400">Posted by
              <strong>{{creator}}</strong>
              on
              {{createdAt}}</small>
          </div>
        </div>
      </dialog>
       <dialog class="modal p-4" id="message{{@index}}">
    <form action="/sendMessage" method="POST" class="flex flex-col">
      <h2 class="text-2xl mb-4" style="color: #08415c;">Message</h2>

      <label for="recipient" class="flex flex-col">
        <span class="text-sm mb-1" style="color: #08415c;">Recipient:</span>
        <input
          value="{{creator}}"
          type="text"
          name="recipient"
          required
          id="recipient"
          class="border rounded py-2 px-3"
        />
      </label>

      <label for="subject" class="flex flex-col">
        <span class="text-sm mb-1" style="color: #08415c;">Subject:</span>
        <input
          type="text"
          name="subject"
          required
          id="subject"
          class="border rounded py-2 px-3"
        />
      </label>

      <label for="message" class="flex flex-col mb-2 rounded">
        <span
          class="text-sm mb-2 rounded"
          style="color: #08415c;"
        >Message:</span>
        <textarea
          class="rounded"
          name="message"
          id="message"
          rows="5"
        ></textarea>
      </label>

      <button
        type="submit"
        class="mb-2 font-bold bg-yellow-400 px-2 py-1 rounded text-white hover:text-white hover:bg-yellow-600"
      >Send Message</button>

      <button
        type="button"
        class="close-button bg-gray-300 text-gray-700 py-2 px-4 rounded"
      >Close</button>
    </form>
  </dialog>
    {{/each}}
  </div>

 
</section>