<div class="card-advert">
  {{#each adverts}}
    <div class="card-advert-info">
      <img src="{{imageUrl}}" alt="{{title}}" />
      <div>
        <h5>{{title}}</h5>
        <button class="open-button" id="{{@index}}">Details</button>
        <a href="/adverts/{{_id}}" class="btn btn-success">Update</a>
        <form action="/adverts/{{_id}}/delete" method="POST">
          <button type="submit">Delete</button>
        </form>
      </div>
    </div>
    <dialog class="modal" id="{{@index}}">
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      <p><strong>Amount:</strong> {{amount}}</p>
      <p><strong>Cost:</strong> {{cost}}</p>
      <a href="#" class="btn btn-primary">Contact seller</a>
      <p>Details</p>

      <small>Posted by <strong>{{creator}}</strong> on {{createdAt}}</small>
      {{! BUY BUTTON }}
      <form action="/cart" method="post">
        <input type="hidden" name="productId" value="{{_id}}" />
        <input type="hidden" name="title" value="{{title}}" />
        <input type="hidden" name="amount" value="{{amount}}" />
        <input type="hidden" name="cost" value="{{cost}}" />

        <button type="submit">Buy</button>
      </form>
      {{! CLOSE BUTTON }}
      <button class="close-button">Close</button>
    </dialog>
  {{/each}}
</div>