<h1>CART</h1>

<a href="/adverts">Keep buying</a>
{{#if userCart}}
  <table class="cart">
    <th>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </th>
    <tbody>
      {{#each userCart.products}}
        <tr class="cart-item">
          <td class="cart-item-name">{{this.title}}</td>
          <td class="cart-item-qty">{{this.amount}}</td>
          <td class="cart-item-price">{{this.cost}}</td>
        </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr class="cart-total">
        <td>
          <h2 class="cart-total-price">
            £<span>0</span>
          </h2>
        </td>
      </tr>
    </tfoot>

  </table>
{{else}}
  <p>Your cart is empty.</p>
{{/if}}

{{!-- {{#if items.length}}
  <h2>Your Shopping Cart</h2>
  <ul>
    {{#each items}}
      <li>{{this.name}} - {{this.price}}</li>
    {{/each}}
  </ul>
  <p>Total: {{total}}</p>
{{else}}
  <p>Your cart is empty.</p>
{{/if}} --}}