{{#if cartHistory.length}}
  <h2>Your Shopping Cart History</h2>
  <ul>
    {{#each cartHistory}}
      <li>
        <p>Date: {{this.date}}</p>
        <ul>
          {{#each this.items}}
            <li>{{this.name}} - {{this.price}}</li>
          {{/each}}
        </ul>
        <p>Total: {{this.total}}</p>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>Your cart history is empty.</p>
{{/if}}

//to merge